$theme: jericho;
$homeFirstColor: red;
$homeSecondColor: red;
$homeThirdColor: red;
$homeFourthColor: red;



@if $theme == jericho {
  $homeFirstColor: #ff9555;
  $homeSecondColor: green;
  $homeThirdColor: blue;
  $homeFourthColor: purple;
}