@import "partials/variables";
@import "partials/home";
@import "partials/shop";
@import "partials/contact_form";
@import "partials/responsive";






// Footer styles
footer {
  width: 100%;
  padding: 21px 0;
  margin: 50px 0;

  p {
    text-align: center;
    color: #fff;
    font-weight: 600;

    a {
      color: #fff;
      text-decoration: none;
    }
  }


}




/* Defaults */
.container {
  max-width: 1200px;
  margin: auto;
  clear: both;
}

a:hover {
  color: #f1a646
}

a {
  color: inherit;
}

.stretched {
  width:100%!important;
  max-width: 100%!important;
}

.success{
  background-color: #23ff80;
}

.left{
  float: left;
  justify-self: left;
}

.right{
  float:right;
  justify-self: right;
}
.flex-tri-inner {
  display: flex;
  justify-items: center;
}

@for $i from 1 through 12 {
  .split-#{$i} {
    width: 8.3333333333% * $i;
  }
}

.cell {
  padding: 7px;
}

.center-text {
  text-align: center;
}

.thumbnail {
  width: 100%;
}

