@import "partials/variables";

/* Home section */
#home{
  font-size: 16px;
  top:0;
  left:0;
  padding:0;
  margin:0;
  background: linear-gradient(180deg, #f0f8ff, #4f4f4f);
}

p{
  font-family: Ubuntu, sans-serif;
}
/* Header section */
nav {
  position:fixed;
  width:100%;
  background-color: transparent;
  z-index:999;
}

#nav {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

#nav > div {
  padding:21px;
  font-size:2vw;

}

#nav a{
  text-decoration: none;
  color:white;
  text-shadow: 2px 2px 3px #555;
}

#nav a:hover{
  text-decoration: underline;
}
header {
  position:relative;
  overflow: hidden;
}

.header-shadow {
  position:relative;
  overflow: hidden;
}

.header-shadow video {
  margin-top:-300px;
  width:100%;
}


#nav-bar-navi {
  padding:7px;
  background-color: #131313;
  width:100%;
  z-index:999;
  font-size:1.5em;
  color:#fff;
}

#nav-small {
  display:none;
  color:#fff;
  background-color: darkturquoise;
  position:fixed;
  width:70%;
  z-index: 999;
  padding:21px;
}

#nav-small > div a {
  padding:7px;
  margin-top: 7px;
  font-size: 1.2em;
  text-decoration: none;
}

#nav-show-menu:hover ~ #nav-small{
  display:block;
}

#nav-small:hover{
  display:block;
}

#nav-bar-navi .logo {
  float: right;
  padding-right: 21px;
  padding-bottom: 7px;
}

#nav-bar-navi .header-img{
  width:1.5em;
}


#business {
  position: absolute;
  top: 19%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  z-index:1;
}

#inner-bus {
  position: relative;
  width: 100%;
  display: block;
  height: 300px;
}

#inner-bus #title {
  text-align:center;
  color:#fff;
  font-size:4em;
}
#header-img{
  width: 4vw;
  max-width: 130px;
  z-index: 1;
  vertical-align: bottom;
}

#infoForm label{
  display:block;
  color:#fff;
  font-size:1.2em;
}

#infoForm input{
  padding:21px;
}


.header-shadow .attention {
  position:absolute;
  background-color: rgba(227, 227, 227, 0.76);
  margin-top:-200px;
  width:100%;
  display:grid;
  align-items: center;
  height:200px;
  z-index:2;
}

#description{
  text-align:center;
  padding:21px;
  font-size:1.5em;
  font-family: Ubuntu, sans-serif;
}


/* Main Section */
.container{
  max-width: 1200px;
  margin:auto;
  padding: 7px;
}


/* Tri Info Boxes  */
#triCard {
  margin-top:100px;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#triCard .card {
  margin-top:30px;
  border:1px solid #ccc;
  padding:21px;
  width:25%;
  flex-basis: 250px;
  box-shadow: 1px 1px 7px  #bcbcbc, -1px -1px 7px #bcbcbc;
  background-color: #fff;
}

#triCard .card .cardTitle {
  text-align:center;
}

#triCard .card .cardImg {
  text-align: center;
}

.cardImg .fas.fa-5x.fa-life-ring {
  color: #ff3e67;
}

.cardImg .fas.fa-5x.fa-piggy-bank {
  color: #fff283;
}

.cardImg .fas.fa-5x.fa-chart-line {
  color: #04d8bb ;
}


/* Quad Pictures Center Mass */
#cubed{
  margin-top:100px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 21px;
}

#cubed .cubedImg {
  position:relative;
  overflow: hidden;
}

#cubed .cubedImg img {
  width:100%;
}

#cubed .cubedText {
  position:absolute;
  top: 40%;
  left:0;
  right:0;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  color: #fff;
  font-size:2em;
  text-shadow: 3px 3px 7px #555;
  padding:21px;
}

/* Sale Section */
#sales-div{
  margin-top:100px;
}

#cubeFlip {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap
}

#cubeFlip .cardArea{
  width:250px;
  height:450px;
  perspective: 600px;
  padding:21px;
}


#cubeFlip .card{
  position:relative;
  width:100%;
  height:100%;
  transform-style: preserve-3d;
  transition: 1s;
  transform-origin: left center;
}
#cubeFlip .cardface{
  position: absolute;
  width:100%;
  height: 100%;
  backface-visibility: hidden;
  border: solid 1px #ccc;
  box-shadow: 3px 3px 7px #b1b1b1, -3px -3px 7px #b1b1b1;
  overflow:hidden;
}

#cubeFlip .cardface--front{
  background-color: mediumpurple;
}

#cubeFlip .cardface--back{
  background-color: #ecffe6;
  /*background-image: linear-gradient(120deg, rgba(249, 187, 255, 0.75), rgba(138, 223, 255, 0.75), rgba(255, 255, 255, 0.75));*/
  transform: rotateY(180deg);
}

.activeFlip{
  transform: rotateY(-180deg) translate(-100%);
}


#cubeFlip .slantTitle {
  background-color: #d1d1d1;
  background-image: linear-gradient(0deg, #bdbdbd, turquoise);
  transform: rotate(15deg);
  transform-origin: 655% 10%;
  width: 122%;
  height: 520px;
  position: absolute;
  display: grid;
  align-items: end;
  justify-items: end;
}

#cubeFlip .slantBody {
  position: absolute;
  left:20px;

}

#cubeFlip .slantBody h3 {
  margin-top: 1.2em;
  margin-bottom:.5em;
  font-size: 2em;
}

#cubeFlip .slantBody ul {
  padding-left: 7px;
  list-style-type: disclosure-closed;
  font-weight: 600;
  font-family: ubuntu, sans-serif;
}

#cubeFlip .slantBody ul li {
  padding:7px;
}

#cubeFlip .tallSlant {
  background-color: #d1d1d1;
  background-image: linear-gradient(180deg, #bdbdbd, turquoise);
  transform: rotate(300deg);
  transform-origin: 78% 55%;
  width: 500px;
  height: 420px;
  position: absolute;
}


#cubeFlip .clickIt {
  padding:3px 27px;
  font-weight:600;
  font-family: Ubuntu, sans-serif;
  font-size: 0.8em;
}

#cubeFlip .card1{
  background-color: gold;
}
#cubeFlip .card2{
  background-color: #008de3;
}
#cubeFlip .card3{
  background-color: #f1a646;
}

.cardflip-back{
  margin:21px;
  display:grid;
}

.cardflip-back ol{
  padding-left:7px;

}



/* Contact Section */
#contact-div{
  margin-top: 100px;
}

#conWindow{
  border: 1px solid #ccc;
  -webkit-box-shadow: 3px 3px 7px #bababa, -3px -3px 7px #bababa;
  -moz-box-shadow: 3px 3px 7px #bababa, -3px -3px 7px #bababa;
  box-shadow: 3px 3px 7px #bababa, -3px -3px 7px #bababa;
  display:grid;
  grid-template-columns: 1fr 2fr;
  padding:7px;
  background: linear-gradient(120deg, aliceblue,aqua);
}
#conWindow > div {
  border:1px solid #ccc;
  padding:14px;
}

#conWindow > .controlend{
  background: linear-gradient(120deg,bisque,lavender);
}

#conWindow > .businessend {
  background: linear-gradient(40deg,lavender, beige);
}

.conPhone, .conEmail, .conChat, .conFAQ {
  display:none;
}

.cardflip-back .cardPrice {
  align-self: end;
  justify-self: end;
}

.controlend ul{
  display:grid;
  grid-template-columns: 1fr;
  justify-items: start;
  list-style-type:  none;
  padding-left:3px;
}
.controlend ul li{
  padding:7px;
  transition: 1s;
}

.controlend ul li:hover{
  background-color: turquoise;
  padding-right:40px;
  border-radius: 0 50% 50% 0;
}

.controlend a {
  text-decoration: none;
  font-size:1.2em;
  color:#555;
}
.controlend a:hover{
  color: #f1a646
}

.form-content {
  display:grid;
  grid-template-columns:1fr 2fr;
  margin-top:7px;
}

.form-content > label{
  font-size:1.1em;
  font-family: Ubuntu, sans-serif;
}

.form-content > input[type="number"], .form-content > textarea, .form-content > input, .form-content > button{
  max-width:300px;
  width:100%;
  padding: 7px;
}


.qBorder {
  margin-top: 7px;
}

.qBorder > div{
  padding:3px;
  font-family: Ubuntu, sans-serif;
}


#links-div{
  margin-top:100px;
}

footer {
  width:100%;
  padding:21px 0;
  margin-top: 50px;
}
footer p {
  text-align:center;
  color:#fff;
  font-weight:600;
}


/* Responsive Parts */
@media (max-width:1600px){
  .header-shadow video {margin-top:-150px;}
  .header-shadow .attention { height:150px;margin-top:-150px;}
}

@media (max-width:1299px){
  #business  #title {font-size:2.5em;}
  .header-shadow .attention { height:110px;margin-top:-110px;}
  #description {font-size: 1.3em;}

}

@media (max-width:1100px){
  #nav > div {font-size: 4vw;}
  #header-img {width: 6vw;}
}

@media (max-width: 899px) {
  #description {font-size: 1.1em;padding:7px;}
  .header-shadow .attention {height: 80px;margin-top: -80px;}
  .header-shadow video {margin-top: -50px;}
}

@media (max-width:850px){

  #business #title {font-size: 2em;}
}

@media (max-width:750px){
  .header-shadow video {margin-top:0;}
  #conWindow {grid-template-columns: 1fr}
  .form-content {grid-template-columns: 1fr; overflow: hidden;}
}

@media (max-width:579px){
  #nav-bar{display: none;}
  #business  #title {font-size:1.5em;}
  .header-shadow video {margin-top:42px;}
  #infoForm input {padding:3px;}
  #infoForm label {font-size:.9em;}
  .header-shadow .attention {height: 60px;margin-top: -60px;}
  #description {font-size: .9em;padding: 3px;margin: 3px;}
  #cubed .cubedText {font-size: 1.2em;}
  #triCard {margin-top: 50px;}
}


@media (min-width:579px){
  #nav-bar-small{display: none;}
}

/* Sales end Styles  */
#contact {
  position:relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8e1b6;


  .contact-arrow {
    position:absolute;
    top:40%;
    border:solid #555 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: turquoise;

    i.fa-arrow-right {
      font-size:70px;
      padding:21px;
      color:#fff;

    }
  }

  .outta-cont-notification{
    position:relative;
    clear:both;
    height:30px;


    .cont-notification {
      display:none;
      padding: 7px 3px;
      border: 1px #ccc solid;
      border-radius: 3px;
      box-shadow: 1px 1px 3px;
      position: absolute;
    }

  }

  .indiv-row {
    width: 100%;
    padding: 7px 0;
    position: relative;

    input {
      width:100%;
      line-height: 27px;
      padding: 3px 7px;
      background-color: rgba(255, 239, 213, 0.66);
      -webkit-box-shadow:  1px 1px 2px #555;
      -moz-box-shadow:  1px 1px 2px #555;
      box-shadow:  1px 1px 2px #555;

      &:focus {
        -webkit-box-shadow: inset 1px 1px 2px #555;
        -moz-box-shadow: inset 1px 1px 2px #555;
        box-shadow: inset 1px 1px 2px #555;
      }
    }
    textarea {
      width:100%;
      line-height: 23px;
      padding: 3px 7px;
      background-color: rgba(255, 239, 213, 0.66);
      -webkit-box-shadow:  1px 1px 2px #555;
      -moz-box-shadow:  1px 1px 2px #555;
      box-shadow:  1px 1px 2px #555;

      &:focus {
        -webkit-box-shadow: inset 1px 1px 2px #555;
        -moz-box-shadow: inset 1px 1px 2px #555;
        box-shadow: inset 1px 1px 2px #555;
      }
    }

    button {
      line-height: 23px;
      padding: 3px 7px;
      -webkit-box-shadow:  1px 1px 2px #555;
      -moz-box-shadow:  1px 1px 2px #555;
      box-shadow:  1px 1px 2px #555;

      &:hover {
        -webkit-box-shadow: inset 1px 1px 2px #555;
        -moz-box-shadow: inset 1px 1px 2px #555;
        box-shadow: inset 1px 1px 2px #555;
      }
    }
  }

}


#text-slider {
  position:relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.featured {
  position:relative;
  padding-top: 60px;
  padding-bottom: 60px;

  /*.inner-featured {
    padding-left:7px;
    padding-right:7px;
  }*/
}

#feature-slider {
  position:relative;
  background-color: turquoise;

  .featured-img {
    height:600px;
    width:1200px;


  }
}

#info-1 {
  position:relative;
  padding-top: 60px;
  padding-bottom: 60px;

  .card-image i {
    padding-top:21px;
  }
}


#info-top {
  margin-top:50px;

  .showcase-panel {
    list-style-type: none;

    li {
      display:inline;
    }
  }
}


#threaded-info {
  position:relative;
  overflow:hidden;


  .thread-tab-left {
    position:relative;

    .card {
      width:46%;
      text-align: right;
      border: 7px #ccc solid;
      box-shadow: 2px -2px 4px #92d9d2;

      .thread-pin {
        position:absolute;
        left:47.5%;
        top:0;
        z-index:999;
        border: 3px #ccc solid;
        padding: 14px;
        border-radius: 50%;
        background-color: #00bfff;
      }
    }
  }

  .thread-tab-center {
    border-left: 6px solid rgba(74, 65, 75, 0.33);
    height: 5500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    z-index:1;
  }

  .thread-tab-right {
    position:relative;
    overflow: hidden;


    .card {

      width:46%;
      float:right;
      border: 7px solid #ccc;
      box-shadow: -2px 2px 4px rgba(185, 180, 255, 0.79);

      .thread-pin {
        position:absolute;
        right:47.5%;
        top:0;
        z-index:999;
        border: 3px #ccc solid;
        padding: 14px;
        border-radius: 50%;
        background-color: #00bfff;
      }
    }
  }

}

#showcase-comments {
  position:relative;
  padding-top: 60px;
  padding-bottom: 60px;

}


footer {
    margin: 50px 0;

}
